# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('../data/census_data.csv')

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
census = pd.get_dummies(data=census, columns=['income_bracket'])
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    32561 non-null  int64
 1   workclass              32561 non-null  object
 2   education              32561 non-null  object
 3   education_num          32561 non-null  int64
 4   marital_status         32561 non-null  object
 5   occupation             32561 non-null  object
 6   relationship           32561 non-null  object
 7   race                   32561 non-null  object
 8   gender                 32561 non-null  object
 9   capital_gain           32561 non-null  int64
 10  capital_loss           32561 non-null  int64
 11  hours_per_week         32561 non-null  int64
 12  native_country         32561 non-null  object
 13  income_bracket_ <=50K  32561 non-null  uint8
 14  income_bracket_ >50K   32561 non-null  uint8
dtypes: int64(5), object(8), uint8(2)
memory usage: 3.3+ MB

In [5]:
census.drop('income_bracket_ <=50K', axis=1, inplace=True)

In [6]:
census.rename(columns={'income_bracket_ >50K': 'income_bracket'}, inplace=True)

In [7]:
census.head(5)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_data = census.drop('income_bracket',axis=1)
y_labels = census['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [10]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [11]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [12]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])

occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [13]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [14]:
feat_cols = [gender, occupation, marital_status, relationship, education, workclass,
             native_country, age, education_num, capital_gain, capital_loss ,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [16]:
input_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=100, num_epochs=None, shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [17]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\ADMINI~1\AppData\Local\Temp\tmpx_libn1z
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\ADMINI~1\\AppData\\Local\\Temp\\tmpx_libn1z', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [18]:
model.train(input_fn=input_func,steps=5000)

WARNING:tensorflow:From c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\tensorflow\python\training\training_util.py:235: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:60: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:491: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:1471: Layer.add_variable (from tensorflow.python.keras.engine.base_layer_v1) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\tensorflow\python\keras\optimizer_v2\ftrl.py:111: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\tensorflow\python\training\monitored_session.py:906: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\ADMINI~1\AppData\Local\Temp\tmpx_libn1z\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 0.6931472, step = 0
INFO:tensorflow:global_step/sec: 277.17
INFO:tensorflow:loss = 11.517922, step = 100 (0.365 sec)
INFO:tensorflow:global_step/sec: 448.712
INFO:tensorflow:loss = 0.5249622, step = 200 (0.222 sec)
INFO:tensorflow:global_step/sec: 461.098
INFO:tensorflow:loss = 6.619719, step = 300 (0.216 sec)
INFO:tensorflow:global_step/sec: 442.734
INFO:tensorflow:loss = 0.6324552, step = 400 (0.226 sec)
INFO:tensorflow:global_step/sec: 405.093
INFO:tensorflow:loss = 2.626346, step = 500 (0.247 sec)
INFO:tensorflow:global_step/sec: 408.401
INFO:tensorflow:loss = 1.5702057, step = 600 (0.246 sec)
INFO:tensorflow:global_step/sec: 431.285
INFO:tensorflow:loss = 2.2246664, step = 700 (0.232 sec)
INFO:tensorflow:global_step/sec: 433.152
INFO:tensorflow:loss = 0.36508602, step = 800 (0.232 sec)
INFO:tensorflow:global_step/sec: 436.935
INFO:tensorflow:loss = 14.280866, step = 900 (0.227 sec)
INFO:tensorflow:global_step/sec: 456.887
INFO:tensorflow:loss = 0.799118, step = 1000 (0.219 sec)
INFO:tensorflow:global_step/sec: 435.035
INFO:tensorflow:loss = 0.6850016, step = 1100 (0.230 sec)
INFO:tensorflow:global_step/sec: 422.186
INFO:tensorflow:loss = 2.2062533, step = 1200 (0.238 sec)
INFO:tensorflow:global_step/sec: 440.785
INFO:tensorflow:loss = 1.4750906, step = 1300 (0.226 sec)
INFO:tensorflow:global_step/sec: 461.441
INFO:tensorflow:loss = 7.9805446, step = 1400 (0.218 sec)
INFO:tensorflow:global_step/sec: 450.713
INFO:tensorflow:loss = 0.3758669, step = 1500 (0.222 sec)
INFO:tensorflow:global_step/sec: 446.688
INFO:tensorflow:loss = 0.40410194, step = 1600 (0.222 sec)
INFO:tensorflow:global_step/sec: 461.097
INFO:tensorflow:loss = 0.47227302, step = 1700 (0.218 sec)
INFO:tensorflow:global_step/sec: 448.691
INFO:tensorflow:loss = 0.6535291, step = 1800 (0.225 sec)
INFO:tensorflow:global_step/sec: 442.735
INFO:tensorflow:loss = 3.1076932, step = 1900 (0.224 sec)
INFO:tensorflow:global_step/sec: 438.832
INFO:tensorflow:loss = 4.3311844, step = 2000 (0.228 sec)
INFO:tensorflow:global_step/sec: 405.109
INFO:tensorflow:loss = 4.3916073, step = 2100 (0.249 sec)
INFO:tensorflow:global_step/sec: 431.286
INFO:tensorflow:loss = 1.6676118, step = 2200 (0.230 sec)
INFO:tensorflow:global_step/sec: 406.738
INFO:tensorflow:loss = 0.7876152, step = 2300 (0.247 sec)
INFO:tensorflow:global_step/sec: 422.169
INFO:tensorflow:loss = 2.448524, step = 2400 (0.236 sec)
INFO:tensorflow:global_step/sec: 377.592
INFO:tensorflow:loss = 2.611776, step = 2500 (0.266 sec)
INFO:tensorflow:global_step/sec: 448.692
INFO:tensorflow:loss = 0.6371367, step = 2600 (0.224 sec)
INFO:tensorflow:global_step/sec: 442.714
INFO:tensorflow:loss = 0.7240765, step = 2700 (0.224 sec)
INFO:tensorflow:global_step/sec: 444.703
INFO:tensorflow:loss = 0.34515667, step = 2800 (0.225 sec)
INFO:tensorflow:global_step/sec: 456.908
INFO:tensorflow:loss = 0.35071602, step = 2900 (0.219 sec)
INFO:tensorflow:global_step/sec: 433.133
INFO:tensorflow:loss = 1.0543157, step = 3000 (0.233 sec)
INFO:tensorflow:global_step/sec: 431.285
INFO:tensorflow:loss = 0.2978874, step = 3100 (0.232 sec)
INFO:tensorflow:global_step/sec: 442.416
INFO:tensorflow:loss = 0.2935117, step = 3200 (0.224 sec)
INFO:tensorflow:global_step/sec: 444.289
INFO:tensorflow:loss = 0.41636837, step = 3300 (0.225 sec)
INFO:tensorflow:global_step/sec: 450.712
INFO:tensorflow:loss = 0.6535132, step = 3400 (0.222 sec)
INFO:tensorflow:global_step/sec: 429.434
INFO:tensorflow:loss = 0.4113275, step = 3500 (0.234 sec)
INFO:tensorflow:global_step/sec: 454.788
INFO:tensorflow:loss = 1.1418873, step = 3600 (0.221 sec)
INFO:tensorflow:global_step/sec: 446.686
INFO:tensorflow:loss = 0.4717158, step = 3700 (0.223 sec)
INFO:tensorflow:global_step/sec: 436.924
INFO:tensorflow:loss = 5.766595, step = 3800 (0.228 sec)
INFO:tensorflow:global_step/sec: 429.465
INFO:tensorflow:loss = 0.3798962, step = 3900 (0.232 sec)
INFO:tensorflow:global_step/sec: 413.461
INFO:tensorflow:loss = 0.44429985, step = 4000 (0.243 sec)
INFO:tensorflow:global_step/sec: 438.833
INFO:tensorflow:loss = 0.52609265, step = 4100 (0.230 sec)
INFO:tensorflow:global_step/sec: 442.735
INFO:tensorflow:loss = 0.48922557, step = 4200 (0.225 sec)
INFO:tensorflow:global_step/sec: 456.909
INFO:tensorflow:loss = 0.31451085, step = 4300 (0.219 sec)
INFO:tensorflow:global_step/sec: 450.689
INFO:tensorflow:loss = 0.9600214, step = 4400 (0.223 sec)
INFO:tensorflow:global_step/sec: 444.704
INFO:tensorflow:loss = 0.4621382, step = 4500 (0.223 sec)
INFO:tensorflow:global_step/sec: 440.783
INFO:tensorflow:loss = 0.39526856, step = 4600 (0.228 sec)
INFO:tensorflow:global_step/sec: 381.917
INFO:tensorflow:loss = 0.33161008, step = 4700 (0.261 sec)
INFO:tensorflow:global_step/sec: 444.683
INFO:tensorflow:loss = 0.32467258, step = 4800 (0.225 sec)
INFO:tensorflow:global_step/sec: 433.17
INFO:tensorflow:loss = 0.39382702, step = 4900 (0.233 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 5000...
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\ADMINI~1\AppData\Local\Temp\tmpx_libn1z\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 5000...
INFO:tensorflow:Loss for final step: 1.1549277.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [20]:
pred_fn = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [21]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\ADMINI~1\AppData\Local\Temp\tmpx_libn1z\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [22]:
predictions[0]

{'logits': array([-1.0564348], dtype=float32),
 'logistic': array([0.25799137], dtype=float32),
 'probabilities': array([0.7420086 , 0.25799134], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [23]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [24]:
final_preds[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [25]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.90      0.87      0.89      7436
           1       0.63      0.68      0.65      2333

    accuracy                           0.83      9769
   macro avg       0.76      0.78      0.77      9769
weighted avg       0.83      0.83      0.83      9769

# Great Job!